antlr4-python3-runtime
appnope
asttokens
comm
contourpy
cycler
debugpy
decorator
dill
executing
fonttools
#ipykernel
#ipython
#ipython_pygments_lexers
jedi
#jupyter_client
#jupyter_core
kiwisolver
#matplotlib
#matplotlib-inline
multidict
multiprocess
nest-asyncio
#numpy
packaging
#pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyparsing
python-dateutil
pytz
#pyzmq
six
stack-data
tornado
traitlets
tzdata
uritools
wcwidth
